body {
    background-color: #F3FEB0;
  }
  
  h1 {
    color: #705E78;
    margin-left: 20px;
    font-size: 50px;
  }
  #para1 {
    text-align: center;
    color: rgb(0, 73, 37);
  }
  .center {
    text-align: center;
    color: rgb(255, 255, 255);
  }